{% extends 'main/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
{% load static %}
<div class="page-about">
    <h2 class="about-title">SERVICES - сервис поиска надежных специалистов</h2>
    <div class="about-text">

        <p>SERVICES - ваш помощник в поиске исполнителей. <br>
            Платформа, которая убирает недоверие из рынка услуг, делая процессы простыми, безопасными и эффективными для
            всех.</p>
        <p>Мы верим, что рынок услуг должен работать на основе доверия и взаимной выгоды. Наша платформа — это мост
            между вами, вашими целями и профессионалами, которые помогут их достичь.
            Наша миссия: Исключить неопределенность и риски, превратив поиск и оказание услуг в простой, приятный и
            эффективный процесс.</p>

        <div class="why"><h3>Почему выбирают SERVICES?</h3></div>
        <p>Для тех, кто ищет услуги:</p>
        <nav class="about-list">
            <ul>
                <li>Контроль и безопасность: Встроенная система безопасных платежей (эскроу). Вы оплачиваете только
                    принятую работу.</li>
                <li>Удобный поиск: Алгоритмы платформы подбирают для вашей задачи специалистов с оптимальным рейтингом и
                    экспертизой.</li>
                <li>Честные отзывы и портфолио: Полная история выполненных проектов и реальные оценки других клиентов.
                </li>
                <li>Комфортное взаимодействие: Все общение, обмен файлами и согласование — в одном защищенном рабочем
                    пространстве.</li>
            </ul>
        </nav>
    </div>

    <div class="about-cards">
        <div class="about-card">
            <div class="about-image">
                <img src="{% static 'img/about1.png' %}" alt="image-1" class="">
            </div>
            <p class="about-card-txt">Контроль и
                безопасность</p>
        </div>

        <div class="about-card">
            <div class="about-image">
                <img src="{% static 'img/about2.png' %}" alt="image-2" class="">
            </div>
            <p class="about-card-txt">Удобный поиск
                специалиста</p>
        </div>

        <div class="about-card">
            <div class="about-image">
                <img src="{% static 'img/about3.png' %}" alt="image-3" class="">
            </div>
            <p class="about-card-txt">Честные отзывы и портфолио</p>
        </div>

        <div class="about-card">
            <div class="about-image">
                <img src="{% static 'img/about4.png' %}" alt="image-4" class="">
            </div>
            <p class="about-card-txt">Комфортное взаимодействие</p>
        </div>

    </div>







</div>
















{% endblock %}