<!DOCTYPE html>

{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

    <header>
        <nav>
            <ul class="list">
                <li><a href="{% url 'main:index' %}">Главная</a></li>
                <li><a href="{% url 'main:about' %}">О нас</a></li>
                <li><a href="#">Информация для заказчиков</a></li>
                <li><a href="#">Информация для исполнителей</a></li>
                <li><a href="#">Предоставить услугу</a></li>
            </ul>
        </nav>
    </header>
    <div class="panel">
        <div>
            <div>
                <a href="{% url 'main:index' %}"><img src="{% static 'icon/LOGO.svg' %}" alt="logo"></a>
            </div>
        </div>


        <form class="search-panel" action="{% url 'main:index' %}" method="get">
            <input  class="search-input" type="text" name="q" placeholder="Поиск услуг" value="{{ search_query }}">
            <button type="submit" class="icon-search"><img src="{% static 'icon/search.svg' %}" alt="search"></button>
        </form>




        <div class="buts-auth">
            <div class="but-login">
                <p>Вход</p>
            </div>
            <div class="but_reg">
                <p>Регистрация</p>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}


    <footer>

        <div>
            <img src="{% static 'icon/LOGO-white.svg' %}" alt="logo">
        </div>
        <div class="foot-blocks">
            <div class="block">
                <h2>Информация</h2>
                <nav>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Для заказчиков</a></li>
                        <li><a href="#">Для исполнителей</a></li>
                    </ul>
                </nav>
            </div>

            <div class="block">
                <h2>Юридические документы</h2>
                <nav>
                    <ul>
                        <li><a href="#">Политика конфиденциальности</a></li>
                        <li><a href="#">Пользовательское соглашение</a></li>
                        <li><a href="#">Согласие на обработку персональных данных</a></li>
                    </ul>
                </nav>
            </div>

            <div class="block">
                <h2>Рабочее пространство</h2>
                <nav>
                    <ul>
                        <li><a href="#">Личный кабинет</a></li>
                </nav>
            </div>
        </div>
    </footer>







</body>

</html>