{% extends 'main/base.html' %}

{% block title %}Создание услуги{% endblock %}

{% block content %}
{% load static %}


<div>

    <h2 class="about-title">Предоставить услугу</h2>

    <div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="field">
        <form method="post" enctype="multipart/form-data" id="serviceForm" class="service-form">
            {% csrf_token %}
            <div class="posit">
                <div class="column">
                    <div class="group">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                        <div class="error">{{ form.name.errors }}</div>
                        {% endif %}
                        
                    </div>

                    <div class="group">
                        <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                        {{ form.price }}
                        {% if form.price.errors %}
                        <div class="error">{{ form.price.errors }}</div>
                        {% endif %}
                        
                    </div>

                    <div class="group">
                        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                        {{ form.description }}
                        {% if form.description.errors %}
                        <div class="error">{{ form.description.errors }}</div>
                        {% endif %}
                        
                    </div>

                    <div class="group">
                        <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                        {{ form.city }}
                        {% if form.city.errors %}
                        <div class="error">{{ form.city.errors }}</div>
                        {% endif %}
                        
                    </div>

                    <div class="group">
                        <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                        {{ form.address }}
                        {% if form.address.errors %}
                        <div class="error">{{ form.address.errors }}</div>
                        {% endif %}
                        
                    </div>
                </div>

                <div class="column">
                    <div class="group">
                        <label for="{{ form.main_image.id_for_label }}">{{ form.main_image.label }}</label>
                        {{ form.main_image }}



                        {% if form.main_image.errors %}
                        <div class="error">{{ form.main_image.errors }}</div>
                        {% endif %}
                        
                    </div>

                    <div class="group">
                        <label for="{{ form.name.id_for_label }}">Дополнительные изображения</label>
                        <input type="file" name="extra_images" id="extraImages" class="form-control-file" multiple
                            accept="image/*">


                        
                    </div>

                    <div class="group">
                        <label for="{{ form.category.label }}">{{ form.category.label }}</label>
                        {{ form.category }}
                        {% if form.category.errors %}
                        <div class="error">{{ form.category.errors }}</div>
                        {% endif %}
                        
                    </div>

                    <div class="group">
                        <label for="{{ form.phone_number.label }}">{{ form.phone_number.label }}</label>
                        {{ form.phone_number }}
                        {% if form.phone_number.errors %}
                        <div class="error">{{ form.phone_number.help_text }}</div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>


            <div class="form-actions">
                <button type="submit" class="btn-create">Создать</button>
            </div>






        </form>
    </div>














</div>

{% endblock %}