* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    font-size: 24px;
    align-items: center;
    display: flex;
    height: 63px;
    background-color: #DFF2F0;
}

.list {
    display: flex;
    gap: 43px;
    margin-left: 80px;
}

nav>ul>li {
    list-style: none;
}

header>nav>ul>li>a {
    list-style: none;
    color: black;
}

.panel {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.search-panel {
    width: 50%;
    height: 60px;
    border: 5px solid #2A7A78;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 3%;
}

.search-input {
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: none;
    outline: none;
}



.icon-search {
    display: flex;
    border: none;
    background-color: white;
    cursor: pointer;
}

.buts-auth {
    display: flex;
    gap: 30px;
}

.but-login,
.but_reg {
    cursor: pointer;
    height: 77px;
    width: 213px;
    border: 5px solid #2A7A78;
    display: flex;
    justify-content: center;
    align-items: center;
}



footer {
    margin-top: 500px;
    background-color: #17242B;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 395px;
}

.foot-blocks {
    display: flex;
    gap: 80px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block>nav>ul {
    gap: 30px;
    display: flex;
    flex-direction: column;
}


.block>nav>ul>li>a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.block>nav {
    flex-direction: column;
}


.category-card {
    margin-bottom: 1.3%;
    width: 395px;
    height: 80px;
    border-radius: 10px;
    background-color: #3AAFAA;
    color: white;
}


.cat-link {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    /* gap: 4%; */
    width: 100%;
    height: 100%;
}

.category-image {
    height: 60px;
}

.categories {
    width: 60%;
    flex-wrap: wrap;
    display: flex;
    gap: 5%;
    margin: 0 auto;
}

.cat-title,
.about-title,
.related-title {
    margin: 0 0 30px 8%;
}

.cat-name {
    font-weight: 500;
    justify-content: center;
    width: 70%;
    display: flex;
    text-align: center;
}

.cat-img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cat-section {
    margin-bottom: 100px;
}

.btn-reset {
    background-color: #DFF2F0;
    border: 1px solid black;
    padding: 5px;
    margin-left: 6%;
}


.ser-link {
    color: #000;
}

.service-img {
    height: 63%;
}

.service-image {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.service {
    color: black;
    width: 340px;
    height: 420px;
    border-radius: 20px;
    border: 3px solid #3AAFAA;
    font-size: 20px;
    margin-bottom: 4%;
}

.location {
    display: flex;
    gap: 2%;
}

.service-txt {
    margin-top: 2%;
    height: 37%;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    gap: 8%;
}

.pin {
    width: 20px;
}


.services {
    display: flex;
    gap: 3%;
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
}


.page-about {
    font-size: 24px;
}

.about-text {
    line-height: 2;
    width: 90%;
    margin: 0 auto;
}

.about-text>p {
    line-height: 2;
}

.about-list>ul>li {
    line-height: 2;
    list-style: circle;
}

.about-card {
    border-radius: 20px;
    display: flex;
    width: 15%;
    border: 3px solid #3AAFAA;
    justify-content: center;
    flex-direction: column;
    height: 357px;
}

.about-cards {
    margin-top: 50px;
    display: flex;
    gap: 3%;
    justify-content: center;
}

.about-image {
    display: flex;
    justify-content: center;
}

.about-card-txt {
    text-align: center;
    display: flex;
    justify-content: center;
}

.why {
    margin: 25px 0;
}

.det-img {
    border-radius: 10px;
    border: 2px solid #3AAFAA;
    height: 375px;
}

.extra-img {
    width: 30%;
    height: 126px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.2s, opacity 0.2s;
    border: 2px solid transparent;
    border-radius: 10px;
}

.extra-img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.extra-img.active {
    border: 2px solid #3AAFAA;
    opacity: 0.8;
}

.way {
    margin-left: 7.5%;
    display: flex;
    gap: 1%;
}

.sectors {
    justify-content: center;
    display: flex;
    gap: 5%;
    margin-top: 2%;
}

.description {
    font-size: 22px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.detail-txt {
    width: 75%;
}

.detail-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.extra-images {
    margin-top: 3%;
    display: flex;
    gap: 5%;
}


.location2 {
    margin: 10% 0;
    display: flex;
    gap: 2%;
}


.images-detail {
    width: 30%;
}

.related-services {
    margin-top: 10%;
}


.phone-button {
    border-radius: 20px;
    width: 309px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFF2F0;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}

.phone-button:hover {
    background-color: #3AAFAA;
}

.phone-text {
    font-size: 20px;
}